#architecture {
    background-image: url('../assets/eiffeltower-architecture.jpg');
}

#climate {
    background-image: url('../assets/cold-climate.jpg');
}

#mustSee {
    background-image: url('../assets/aquarium-mustSee.jpg');
}