#architecture {
    background-image: url('../assets/eiffeltower.png')
}

#climate {
    background-image: url('./assets/cold.png')
}

#mustSee {
    background-image: url('./assets/aquarium.png')
}

.left-side {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    float: right;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bg {
    background-size: contain;
    background-repeat: no-repeat;
    width: 640px;
    height: 100%;
    margin: 25px;
    display: inline-block;
}